body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Bootstrap Overrides*/
.navbar-inverse {
    background-color: #f5600a;
    border-color: #f5600a;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

body {
    font-family: 'Open Sans','Indie Flower', cursive,'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control{
    font-size:17px;
}














